<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>120</integer>
		<key>height</key>
		<integer>19</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>num_0.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_1.png</key>
		<dict>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_2.png</key>
		<dict>
			<key>x</key>
			<integer>24</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_3.png</key>
		<dict>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_4.png</key>
		<dict>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_5.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_6.png</key>
		<dict>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_7.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_8.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>num_9.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
	</dict>
</dict>
</plist>