<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>40_1.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>432</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>40_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>40_3.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>40_4.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>40_5.png</key>
		<dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>40_6.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>108</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>50_1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>108</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>50_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>432</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>50_3.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>108</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>50_4.png</key>
		<dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>108</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>50_5.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>216</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>50_6.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>216</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>60_1.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>216</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>60_2.png</key>
		<dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>216</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>60_3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>60_4.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>60_5.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>60_6.png</key>
		<dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>70_1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>646</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>70_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>540</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>70_3.png</key>
		<dict>
			<key>x</key>
			<integer>360</integer>
			<key>y</key>
			<integer>858</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>70_4.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>752</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>70_5.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>858</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>70_6.png</key>
		<dict>
			<key>x</key>
			<integer>360</integer>
			<key>y</key>
			<integer>752</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>80_1.png</key>
		<dict>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>432</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>80_2.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>432</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>80_3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>752</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>80_4.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>858</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>80_5.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>540</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>80_6.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>540</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>90_1.png</key>
		<dict>
			<key>x</key>
			<integer>360</integer>
			<key>y</key>
			<integer>540</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>90_2.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>646</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>90_3.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>646</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>90_4.png</key>
		<dict>
			<key>x</key>
			<integer>360</integer>
			<key>y</key>
			<integer>646</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>90_5.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>752</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>90_6.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>858</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>num_x10.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>964</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_x20.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>964</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>93</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_x30.png</key>
		<dict>
			<key>x</key>
			<integer>360</integer>
			<key>y</key>
			<integer>964</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>93</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_x35.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>964</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
	</dict>
</dict>
</plist>