<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>100_1.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>100_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>100_3.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>100_4.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>100_5.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>100_6.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>248</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>100_7.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>372</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>100_8.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>494</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>120_1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>616</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>120_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>738</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>120_3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>864</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>120_4.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>120_5.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>120_6.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>120_7.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>120_8.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>150_1.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>150_2.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>368</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>150_3.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>494</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>150_4.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>616</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>150_5.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>738</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>150_6.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>860</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>150_7.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>368</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>150_8.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>368</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
	</dict>
</dict>
</plist>