<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fish16_06.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>360</integer>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_07.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>224</integer>
			<key>width</key>
			<integer>363</integer>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_08.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>447</integer>
			<key>width</key>
			<integer>360</integer>
			<key>height</key>
			<integer>220</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_09.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>668</integer>
			<key>width</key>
			<integer>359</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_10.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>359</integer>
			<key>height</key>
			<integer>198</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>200</integer>
			<key>width</key>
			<integer>368</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>390</integer>
			<key>width</key>
			<integer>350</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>581</integer>
			<key>width</key>
			<integer>361</integer>
			<key>height</key>
			<integer>210</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>792</integer>
			<key>width</key>
			<integer>363</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_01.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_02.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_03.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>194</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_04.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_05.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>389</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_06.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>480</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_07.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>564</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_08.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>635</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_09.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>698</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_10.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>760</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>835</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>905</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>853</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish17_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>853</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
	</dict>
</dict>
</plist>