<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fish10_01.png</key>
		<dict>
			<key>x</key>
			<integer>512</integer>
			<key>y</key>
			<integer>704</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>-12.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_02.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>551</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>-12.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_03.png</key>
		<dict>
			<key>x</key>
			<integer>789</integer>
			<key>y</key>
			<integer>551</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_04.png</key>
		<dict>
			<key>x</key>
			<integer>512</integer>
			<key>y</key>
			<integer>852</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_05.png</key>
		<dict>
			<key>x</key>
			<integer>512</integer>
			<key>y</key>
			<integer>457</integer>
			<key>width</key>
			<integer>143</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_06.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>878</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_07.png</key>
		<dict>
			<key>x</key>
			<integer>671</integer>
			<key>y</key>
			<integer>321</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_08.png</key>
		<dict>
			<key>x</key>
			<integer>826</integer>
			<key>y</key>
			<integer>321</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_09.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>734</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>-8</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_10.png</key>
		<dict>
			<key>x</key>
			<integer>512</integer>
			<key>y</key>
			<integer>551</integer>
			<key>width</key>
			<integer>141</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>321</integer>
			<key>width</key>
			<integer>159</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>457</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>596</integer>
			<key>width</key>
			<integer>151</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>516</integer>
			<key>y</key>
			<integer>321</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish15_01.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>959</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_02.png</key>
		<dict>
			<key>x</key>
			<integer>714</integer>
			<key>y</key>
			<integer>39</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_03.png</key>
		<dict>
			<key>x</key>
			<integer>714</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>236</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_04.png</key>
		<dict>
			<key>x</key>
			<integer>714</integer>
			<key>y</key>
			<integer>76</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_05.png</key>
		<dict>
			<key>x</key>
			<integer>714</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_06.png</key>
		<dict>
			<key>x</key>
			<integer>714</integer>
			<key>y</key>
			<integer>145</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_07.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>837</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_08.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>914</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_09.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>197</integer>
			<key>width</key>
			<integer>231</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_10.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>876</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-18.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish15_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>578</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>201</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-23.5</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_01.png</key>
		<dict>
			<key>x</key>
			<integer>358</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>356</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>358</integer>
			<key>height</key>
			<integer>197</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>417</integer>
			<key>width</key>
			<integer>357</integer>
			<key>height</key>
			<integer>206</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>623</integer>
			<key>width</key>
			<integer>354</integer>
			<key>height</key>
			<integer>214</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish16_05.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>197</integer>
			<key>width</key>
			<integer>357</integer>
			<key>height</key>
			<integer>220</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
	</dict>
</dict>
</plist>