<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fish11_01.png</key>
		<dict>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>268</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>345</integer>
			<key>width</key>
			<integer>267</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>422</integer>
			<key>width</key>
			<integer>265</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>731</integer>
			<key>width</key>
			<integer>262</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_05.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>633</integer>
			<key>width</key>
			<integer>255</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_06.png</key>
		<dict>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>551</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_07.png</key>
		<dict>
			<key>x</key>
			<integer>771</integer>
			<key>y</key>
			<integer>722</integer>
			<key>width</key>
			<integer>243</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_08.png</key>
		<dict>
			<key>x</key>
			<integer>771</integer>
			<key>y</key>
			<integer>811</integer>
			<key>width</key>
			<integer>242</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>-14</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_09.png</key>
		<dict>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>885</integer>
			<key>width</key>
			<integer>244</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_10.png</key>
		<dict>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>644</integer>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_11.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>884</integer>
			<key>width</key>
			<integer>249</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_12.png</key>
		<dict>
			<key>x</key>
			<integer>526</integer>
			<key>y</key>
			<integer>387</integer>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_13.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>888</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_14.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>499</integer>
			<key>width</key>
			<integer>264</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_15.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>268</integer>
			<key>width</key>
			<integer>267</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_16.png</key>
		<dict>
			<key>x</key>
			<integer>537</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>267</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>278</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>778</integer>
			<key>y</key>
			<integer>631</integer>
			<key>width</key>
			<integer>241</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-18.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>467</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish11_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>268</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>20.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_01.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>801</integer>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_02.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>387</integer>
			<key>width</key>
			<integer>259</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>576</integer>
			<key>width</key>
			<integer>263</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_04.png</key>
		<dict>
			<key>x</key>
			<integer>556</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>272</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_05.png</key>
		<dict>
			<key>x</key>
			<integer>276</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>275</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_06.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>276</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_07.png</key>
		<dict>
			<key>x</key>
			<integer>551</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>274</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_08.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>269</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_09.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>655</integer>
			<key>width</key>
			<integer>263</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_10.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>814</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_11.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>725</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_12.png</key>
		<dict>
			<key>x</key>
			<integer>774</integer>
			<key>y</key>
			<integer>467</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_13.png</key>
		<dict>
			<key>x</key>
			<integer>773</integer>
			<key>y</key>
			<integer>551</integer>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>-12.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_14.png</key>
		<dict>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>804</integer>
			<key>width</key>
			<integer>245</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-12.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_15.png</key>
		<dict>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>722</integer>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>-14</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_16.png</key>
		<dict>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>467</integer>
			<key>width</key>
			<integer>249</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>-12.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>278</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>278</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>771</integer>
			<key>y</key>
			<integer>896</integer>
			<key>width</key>
			<integer>241</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-18.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>550</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>fish12_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>527</integer>
			<key>y</key>
			<integer>268</integer>
			<key>width</key>
			<integer>259</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>20.5</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
	</dict>
</dict>
</plist>