<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bullet01.png</key>
		<dict>
			<key>x</key>
			<integer>423</integer>
			<key>y</key>
			<integer>472</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>bullet02.png</key>
		<dict>
			<key>x</key>
			<integer>423</integer>
			<key>y</key>
			<integer>442</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>bullet03.png</key>
		<dict>
			<key>x</key>
			<integer>476</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>bullet04.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>bullet05.png</key>
		<dict>
			<key>x</key>
			<integer>487</integer>
			<key>y</key>
			<integer>240</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>bullet06.png</key>
		<dict>
			<key>x</key>
			<integer>174</integer>
			<key>y</key>
			<integer>449</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>bullet07.png</key>
		<dict>
			<key>x</key>
			<integer>106</integer>
			<key>y</key>
			<integer>469</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>bullet08.png</key>
		<dict>
			<key>x</key>
			<integer>245</integer>
			<key>y</key>
			<integer>449</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>bullet09.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>449</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>bullet010.png</key>
		<dict>
			<key>x</key>
			<integer>19</integer>
			<key>y</key>
			<integer>469</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>43</integer>
		</dict>
		<key>bullet011.png</key>
		<dict>
			<key>x</key>
			<integer>486</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>net01.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>net02.png</key>
		<dict>
			<key>x</key>
			<integer>410</integer>
			<key>y</key>
			<integer>294</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>net03.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>294</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>net04.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>net05.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>309</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>net06.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>145</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>net07.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>319</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>net08.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>155</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>155</integer>
			<key>originalHeight</key>
			<integer>155</integer>
		</dict>
		<key>net09.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>net010.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>net011.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>originalHeight</key>
			<integer>164</integer>
		</dict>
	</dict>
</dict>
</plist>